body {
  overflow: hidden;
}

#result {
 color: white;
 position: relative;
 bottom: 50px;
 left: 350px;
 font-size: 25px;
}

#win {
 color: blue;
 position: relative;
 bottom: 250px;
 left: 50px;
 font-size: 100px;
}

#lose {
 color: red;
 position: relative;
 bottom: 250px;
 left: 50px;
 font-size: 100px;
}